@model IEnumerable<BTL.NET2.Models.User>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<table class="table align-middle table-hover text-nowrap mb-0 bg-dark">
    <thead class="bg-dark text-white fw-bold">
        <tr class="py-3">
            <th>ID</th>
            <th>Thông tin</th>
            <th>Số điện thoại</th>
            <th>Địa chỉ</th>
            <th>Ngày đăng ký</th>
            <td>Quyền</td>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <span class="text-muted">@item.Id</span>
                </td>
                <td>
                    <div class="d-flex align-items-center">
                        <img src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt="" style="width: 45px; height: 45px"
                        class="rounded-circle" />
                        <div class="ms-3">
                            <div class="fw-bold text-white mb-1">@item.Name</div>
                            <div class="text-muted mb-0">@item.Email</div>
                        </div>
                    </div>
                </td>
                <td>
                    <span class="text-muted">@item.Phone</span>
                </td>
                <td>
                    <p class="text-muted">@item.Address</p>
                </td>
                <td>
                    <span class="text-muted">@item.CreatedAt</span>
                </td>
                <td>
                    <span class="badge bg-info rounded-pill d-inline">@item.Role</span>
                </td>
                <td>
                    <div class="d-flex align-items-center gap-2">
                        <a class="btn btn-success btn-sm btn-rounded">
                            Sửa
                        </a>
                        <form method="post" asp-action="Delete" asp-controller="Auth"
                        onsubmit="confirm('Bạn chắc chắn muốn xoá người dùng có id @item.Id chứ ?')">
                            <input type="hidden" name="id" value="@item.Id">
                            <button type="submit" class="btn btn-danger btn-sm btn-rounded">
                                Xoá
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
        }

    </tbody>
</table>