@using BTL.NET2.Services
@model Pagination<BTL.NET2.Models.User>

@{
    ViewData["Title"] = "Quản lý người dùng - trang" + " " + @Model.PageIndex;
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div>
    <h2 class="fw-bold py-3">Quản lý người dùng</h2>
    <form class="app-search-content">
        <input type="text" class="search-input" placeholder="Nhập tên của người dùng cần tìm" name="search"
            autocomplete="off" value='@ViewData["search"]' required />
        <button class="base-btn btn-search" type="submit" title="Tìm ngay">Tìm kiếm</button>
    </form>
    <table class="table align-middle table-hover text-nowrap mb-0 bg-dark">
        <thead class="bg-dark text-white fw-bold">
            <tr class="py-3">
                <th>ID</th>
                <th>Thông tin</th>
                <th>Số điện thoại</th>
                <th>Địa chỉ</th>
                <th>Ngày đăng ký</th>
                <th>Ngày cập nhật</th>
                <td>Quyền</td>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model.Count() > 0)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <span class="text-muted">@item.Id</span>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt=""
                                style="width: 45px; height: 45px" class="rounded-circle" />
                                    <div class="ms-3">
                                        <div class="fw-bold text-white mb-1">@item.Name</div>
                                        <div class="text-muted mb-0">@item.Email</div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <span class="text-muted">@item.Phone</span>
                            </td>
                            <td>
                                <p class="text-muted">@item.Address</p>
                            </td>
                            <td>
                                <span class="text-muted">@item.CreatedAt</span>
                            </td>
                            <td>
                                <span class="text-muted">@item.UpdatedAt</span>
                            </td>
                            <td>
                                @{
                                    var role = item.Role;
                                    if (role != "admin")
                                    {
                                        <span class="badge bg-info rounded-pill d-inline">@role</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-warning rounded-pill d-inline">@role</span>
                                    }
                                }
                            </td>
                            <td>
                                <div class="d-flex align-items-center gap-2">
                                    <a asp-action="EditUser" asp-controller="Dashboard" asp-route-id="@item.Id"
                            class="btn btn-success btn-sm btn-rounded">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                    stroke="currentColor" width="16" height="16">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                                        </svg>
                                        Sửa
                                    </a>
                                    <form method="post" asp-action="DeleteUser" asp-controller="Dashboard"
                            onsubmit="return confirm('Bạn chắc chắn muốn xoá người dùng có id @item.Id chứ ?')">
                                        <input type="hidden" name="id" value="@item.Id">
                                        <button type="submit" class="btn btn-danger btn-sm btn-rounded">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" width="16" height="16">
                                                <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                            </svg>
                                            Xoá
                                        </button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="8" class="text-danger fw-bold text-center">Không tìm thấy người dùng nào</td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <div>
        <a asp-action="AddUser" asp-controller="Dashboard" class="btn btn-primary btn-rounded mt-3">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" width="20" height="20">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
            </svg>
            Thêm người dùng
        </a>
    </div>
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";

        var search_query = ViewData["search_query"] != null ? ViewData["search_query"].ToString() : "";

        if (Model.TotalPages > 1)
        {
            <div class="py-3 d-flex align-items-center gap-3">
                @if (search_query != "")
                {
                    <a asp-action="Users_Manage" asp-route-page="@(Model.PageIndex + 1)" asp-route-limit="10"
            asp-route-search="@search_query" class="btn btn-outline-primary @nextDisabled">
                        Sau
                    </a>
                    <a asp-action="Users_Manage" asp-route-page="@(Model.PageIndex - 1)" asp-route-limit="10"
            asp-route-search="@search_query" class="btn btn-outline-primary @prevDisabled">
                        Trước
                    </a>
                }
                else
                {
                    <a asp-action="Users_Manage" asp-route-page="@(Model.PageIndex + 1)" asp-route-limit="10"
            class="btn btn-outline-primary @nextDisabled">
                        Sau
                    </a>
                    <a asp-action="Users_Manage" asp-route-page="@(Model.PageIndex - 1)" asp-route-limit="10"
            class="btn btn-outline-primary @prevDisabled">
                        Trước
                    </a>
                }
            </div>
        }
    }
</div>